/* Copyright (C) 2020-2021 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

* {
	background:				#1A1826;
	background-alt:		#1E1E2E;
	border:						#2B2F37;
	foreground:				#D9E0EE;
	selected:					#ABE9B3;
	highlight:				#F28FAD;
	urgent:						#E8A2AF;
	on:								#ABE9B3;
	off:							#E8A2AF;
	gray:							#988BA2;
	gray2:						#C3BAC6;
	blue: 						#96CDFB;
}
